{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Товары{% endblock %}
{% block content %}

<div class="main_product_items scroll">

    <div class="card mb-3 product_item">
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/b98d25cfef578907467633022b792a5616fb4124/A60_FRONT.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic A60-U4L Белый</h5>
            <p class="card-text">Наш самый продаваемый пурифайер. Напольный, с ультрафильтрационной системой очистки воды. Бак холодной воды 6,5л, бак горячей воды 5л. Защита на кране горячей воды.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>  
        </div>
      </div>
    </div>
  <div class="card mb-3 product_item">
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic A60-U4L Чёрный</h5>
            <p class="card-text">Такой же, но в строгом чёрном цвете. Бак холодной воды 6,5л, бак горячей воды 5л. Защита на кране горячей воды.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 product_item">
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>





</div>







{% endblock %}