{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Товары{% endblock %}
{% block content %}

<div class="main_product_items scroll">

    <div class="card mb-3 product_item"> <!-- A60 WHITE КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6d0ea09e93c7abb17161d95a251d443bc3f5e90/pics_purifiers_temp/A60_FRONT_WHITE.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic A60-U4L Белый <img width="32" height="32" src="https://img.icons8.com/stickers/100/south-korea--v2.png" alt="south-korea--v2"/>
            </h5>
            <p class="card-text">Наш самый продаваемый пурифайер. Напольный, с ультрафильтрационной системой очистки воды. Бак холодной воды 6,5л, горячей воды 5л. Защита на кране горячей воды.</p>
            <p class="card-text"><small class="text-body-secondary"><button type="button" id="A60-WHITE" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

  <div class="card mb-3 product_item"> <!-- A60 BLACK КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6d0ea09e93c7abb17161d95a251d443bc3f5e90/pics_purifiers_temp/A60_FRONT_BLACK.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic A60-U4L Чёрный<img width="32" height="32" src="https://img.icons8.com/stickers/100/south-korea--v2.png" alt="south-korea--v2"/></h5>
            <p class="card-text">Такой же, но в строгом чёрном цвете. Мощность нагревательного элемента моделей A60: 800 Вт. Также у моделей есть индикация работы пурифайера.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="A60-BLACK" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- T98 WHITE КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/cced213345c7a50b9a6c4defcd3e2f099e04beae/pics_purifiers_temp/T98_FRONT_WHITE.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic T98-U4L Белый<img width="32" height="32" src="https://img.icons8.com/stickers/100/south-korea--v2.png" alt="south-korea--v2"/>
            </h5> 
            <p class="card-text">Ультрафильтрационная системой очистки воды. Мощность нагревательного элемента: 1000 Вт. Третий кран подачи прохладной воды - поворотный (вода комнатной температуры). </p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="T98-WHITE" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- T98 BLACK КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/cced213345c7a50b9a6c4defcd3e2f099e04beae/pics_purifiers_temp/T98_FRONT_BLACK.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic T98-U4L Чёрный<img width="32" height="32" src="https://img.icons8.com/stickers/100/south-korea--v2.png" alt="south-korea--v2"/>
            </h5>
            <p class="card-text">Такой же, но в цвете металлик. У моделей вместительные баки холодной (9 л) и горячей воды (7,7 л). Индикация работы пурифайера. На моделях за один раз можно набрать 20 стаканов горячей воды.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="T98-BLACK" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- V11 WHITE КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/cced213345c7a50b9a6c4defcd3e2f099e04beae/pics_purifiers_temp/V11_FRONT_WHITE.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic V11-U4L Белый<img width="32" height="32" src="https://img.icons8.com/stickers/100/south-korea--v2.png" alt="south-korea--v2"/></h5>
            <p class="card-text">Ультрафильтрационная система очистки воды. Бак горячей воды 5 л, бак холодной воды 3,3 л. Позволяет использовать лампу UV (опция) для постоянной дезинфекции фильтрованной воды.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="V11-WHITE" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- A62-U4L WHITE КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6d0ea09e93c7abb17161d95a251d443bc3f5e90/pics_purifiers_temp/A62-U4L_FRONT_WHITE.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic A62-U4L Белый<img width="32" height="32" src="https://img.icons8.com/stickers/100/south-korea--v2.png" alt="south-korea--v2"/></h5>
            <p class="card-text">Ультрафильтрационная система очистки воды. Бак холодной воды емкостью 6,5 л. Бак горячей воды 7 л. Мощность нагревательного элемента 800 Вт. </p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="A62-WHITE" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- C21-U4LE BLACK КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/cced213345c7a50b9a6c4defcd3e2f099e04beae/pics_purifiers_temp/C21-U4LE_FRONT_WHITE-SILVER.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic C21-U4LE Серебристый<img width="32" height="32" src="https://img.icons8.com/stickers/100/china--v2.png" alt="china--v2"/></h5>
            <p class="card-text">Ультрафильтрационная система очистки воды. Электронное охлаждение. 4-х ступенчатая система очистки на основе мембраны UF.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="C21-U4LE-SILVER" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- A72-U4L BLACK КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6d0ea09e93c7abb17161d95a251d443bc3f5e90/pics_purifiers_temp/A72-U4L_FRONT_WHITE-BLACK.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic A72-URL Чёрно-белый<img width="32" height="32" src="https://img.icons8.com/stickers/100/south-korea--v2.png" alt="south-korea--v2.png"/></h5>
            <p class="card-text">Ультрафильтрационая система очистки воды. Бак холодной воды 8,5 л. и горячей воды 7 л. Мощность нагревательного элемента 800Вт.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="A72-BLACKNWHITE" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- H1-U4L WHITE КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid ro unded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6d0ea09e93c7abb17161d95a251d443bc3f5e90/pics_purifiers_temp/H1-U4L_FRONT_WHITE.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic H1-U4L Белый<img width="32" height="32" src="https://img.icons8.com/stickers/100/china--v2.png" alt="china--v2"/></h5>
            <p class="card-text">Ультрафильтрационая система очистки воды. 4-х ступенчатая система очистки. Бак горячей воды 1,2 л., бак холодной воды 3,4 л. Внешний тэн нагрева.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="H1-U4L-WHITE" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>



    <div class="card mb-3 product_item"> <!-- H1-U4LE BLACK КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6d0ea09e93c7abb17161d95a251d443bc3f5e90/pics_purifiers_temp/H1-U4LE_FRONT_WHITE.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic H1-U4LE Белый<img width="32" height="32" src="https://img.icons8.com/stickers/100/china--v2.png" alt="china--v2"/></h5>
            <p class="card-text">4-х ступенчатая система очистки. Электронное охлаждение. Бак горячей воды 1,2 л, бак холодной воды 0,8 л, накопительный бак 2 л. Внешний тэн нагрева.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="H1-U4LE-WHITENSILVER" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 product_item"> <!-- H40-U4L BLACK КАРТОЧКА -->
      <div class="row g-0">
        <div class="col-md-4">
          <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6d0ea09e93c7abb17161d95a251d443bc3f5e90/pics_purifiers_temp/H40-U4L_FRONT_WHITE-BLACK.svg" width="100%" height="100%"></image>
          </svg>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecotronic H40-U4L Чёрно-белый<img width="32" height="32" src="https://img.icons8.com/stickers/100/china--v2.png" alt="china--v2"/></h5>
            <p class="card-text">Пурифайер напольного типа с 4-х ступенчатой UF фильтрацией воды. Бак горячей воды 3,9 л, единовременно можно получить 2,5 л воды температурой 90-94С.</p>
            <p class="card-text"><small class="tex  t-body-secondary"><button type="button" id="H40-U4L-BLACKNWHITE" class="btn btn-primary btn-square-md">Подробнее</button></small></p>
          </div>
        </div>
      </div>
    </div>



</div>

<script>
  document.querySelectorAll('.btn-square-md').forEach(function(button) {
      console.log('123');
      button.addEventListener('click', function() {
          var id = this.id;
          var newTab = window.open('', '_blank');
          newTab.location.href = window.location.href + '/' + id;
      });
  });
</script>


{% endblock %}