aquatech/aquatech/__pycache__/__init__.cpython-310.pyc
aquatech/aquatech/__pycache__/settings.cpython-310.pyc
aquatech/aquatech/__pycache__/urls.cpython-310.pyc
aquatech/aquatech/__pycache__/wsgi.cpython-310.pyc
aquatech/main/__pycache__/__init__.cpython-310.pyc
aquatech/main/__pycache__/admin.cpython-310.pyc
aquatech/main/__pycache__/apps.cpython-310.pyc
aquatech/main/__pycache__/models.cpython-310.pyc
aquatech/main/__pycache__/urls.cpython-310.pyc
aquatech/main/__pycache__/views.cpython-310.pyc
aquatech/main/migrations/__pycache__/__init__.cpython-310.pyc
aquatech/products/__pycache__/__init__.cpython-310.pyc
aquatech/products/__pycache__/admin.cpython-310.pyc
aquatech/products/__pycache__/apps.cpython-310.pyc
aquatech/products/__pycache__/models.cpython-310.pyc
aquatech/products/__pycache__/urls.cpython-310.pyc
aquatech/products/__pycache__/views.cpython-310.pyc
aquatech/products/migrations/__pycache__/__init__.cpython-310.pyc
.idea
/aquatech/main/migrations/0001_initial.py
__pycache__
