{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block content %}


<div class="carousel carousel-size">
  <div class="carousel__nav">
   <span id="moveLeft" class="carousel__arrow">
        <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
</svg>
    </span>
    <span id="moveRight" class="carousel__arrow" >
      <svg class="carousel__icon"  width="24" height="24" viewBox="0 0 24 24">
  <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
</svg>
    </span>
  </div>
  <div class="carousel-item carousel-item--1">
    <div class="carousel-item__image"><img src="https://raw.githubusercontent.com/k0jo1337/Aquatech/c6e70e6d6aeca597334a161938e88bce1133376a/a60front2.svg" height="600" width="600" alt="Панель пурифайера вплотную"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h1 class="carousel-item__title">Чистая вода как из кулеров, но дешевле</h1>
      <p class="carousel-item__description">Для больших и маленьких предприятий на территории Краснодарского края и Крыма</p>
      <a href="{% url 'products'%}" class="carousel-item__btn">Выбрать</a>
        </div>
    </div>
  </div>
  <div class="carousel-item carousel-item--2">
    <div class="carousel-item__image"><img src="https://raw.githubusercontent.com/k0jo1337/Aquatech/36275e8cbdcb3dc93ddef04d6757f24ed946a070/A60-WHITE-OUT-IN.svg" height="600" width="600" ></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h1 class="carousel-item__title">Что такое пурифайер?</h1>
      <p class="carousel-item__description">Пурифайер для воды — это устройство, которое очищает водопроводную воду от различных загрязнений, таких как хлор, бактерии, вирусы, тяжелые металлы и другие вредные примеси. Если для кулеров нужно покупать воду практически всегда, то фильтр этой станции можно менять раз в полгода¹. Аппарат подключается к водопроводу, после многоуровневой фильтрации вкус воды и её качество идентичны бутилированной.
      </p>
      <a href="{% url 'products'%}" class="carousel-item__btn">Подробнее</a>
        </div>
    </div>
  </div>
    <div class="carousel-item carousel-item--3">
    <div class="carousel-item__image"><img src="https://raw.githubusercontent.com/k0jo1337/Aquatech/410c861702979f8fce366e160b6285fa2837b503/pics_purifiers_temp/Graph.svg" width="630" height="630" alt="График затрат на пурифайер и кулер"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h2 class="carousel-item__subtitle">Tropical palms</h2>
      <h1 class="carousel-item__title">Зачем нам пурифайер, если есть кулеры?</h1>
      <p class="carousel-item__description">Пурифайер позволяет очищать воду непосредственно у себя дома или в офисе, что экономит время и деньги на покупку бутилированной воды. Экономия очевидна, если учитывать, что 1 литр чистой воды из пурифайера стоит меньше, чем 1 рубль, а 1 литр для кулера – примерно 10 рублей. По расчётам, для отеля или гостиницы 1 пурифайер окупается за 1 туристический сезон, а за 4 сезона вы сэкономите более 250 тысяч рублей!</p>
      <a href="{% url 'products'%}" class="carousel-item__btn">Выбрать</a>
        </div>
    </div>
  </div>

   <div class="carousel-item carousel-item--4">
    <div class="carousel-item__image"><img src="https://raw.githubusercontent.com/k0jo1337/Aquatech/36275e8cbdcb3dc93ddef04d6757f24ed946a070/A60-U4L%20black-2_office.svg" height="600" width="600" ></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h1 class="carousel-item__title">Наши пурифайеры</h1>
      <p class="carousel-item__description">Есть множество видов пурифайеров: настольные, напольные, цвета также бывают разные. Мы работаем с аппаратам южнокорейской фирмы Ecotronic, что обеспечивает надежность и долговечность на долгие годы. Есть также аппараты и других фирм, в зависимости от пожеланий и финансовых возможностей клиента.</p>
      <a href="{% url 'products'%}" class="carousel-item__btn">Посмотреть аппараты</a>
        </div>
    </div>
  </div>

 <div class="carousel-item carousel-item--5">
    <div class="carousel-item__image"><img src="https://raw.githubusercontent.com/k0jo1337/Aquatech/70a242b9a3b2065c34c62e66b41563722d2fd034/pics_purifiers_temp/1.svg" height="600" width="600" style="margin-top: 3%;" alt="Панель пурифайера вплотную"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h1 class="carousel-item__title">Почему нам можно доверять</h1>
      <p class="carousel-item__description">Наша компания работает на этом рынке более 5 лет, сотрудники работают с пурифайерами с 2016 года. Мы базируемся в городе Анапа, за 5 лет мы продали более 400 устройств.</p>
      <a href="{% url 'products'%}" class="carousel-item__btn">Узнать ассортимент</a>
        </div>
    </div>
  </div>

  <div class="carousel-item carousel-item--6">
    <div class="carousel-item__image"><img src="https://raw.githubusercontent.com/k0jo1337/Aquatech/36275e8cbdcb3dc93ddef04d6757f24ed946a070/Partners.svg" height="600" width="600" style="margin-top: 3%;" alt="Панель пурифайера вплотную"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h1 class="carousel-item__title">С кем мы работаем</h1>
      <p class="carousel-item__description">Мы работаем в Краснодарском крае и Крыму. Нашими клиентами являются 200 предприятий, предпринимателей. Присоединяйтесь!</p>
      <a href="{% url 'products'%}" class="carousel-item__btn">Выбрать пурифайер</a>
        </div>
    </div>
  </div>

</div>
</body>

{% endblock %}