.second-paragraph {
    font-size:small;
    margin-bottom: -5px;
    font-style:italic;
}

.what-it-means {
    font-size:small;
    margin-bottom: -5px;
    font-style:italic;
}

.hided {
    display: none;
  }

  .what-it-means:hover
  {
    cursor: pointer;
    font-size:small;
    margin-bottom: -5px;
    font-style:italic;
    text-decoration: underline;
  }

.intro-description{
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 25px;
}
.product-title {
font-size: 36px;
font-weight: bold;
color: #176cbc;
text-align: center;
}

div.scrollproducts {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

.price-tag {
    font-size: 36px;
    margin-left: 5px;
    font-weight: bold;
    color: #17a6bc;
    }

.price-warning-description{
    font-size: 13px;
    font-style: italic;
    color: grey;
    font-weight: normal;
}

.carousel-indicators [data-bs-target]{
width: 200px;
height: 100%;
padding: 2px;
display: flex;
align-items: center;
justify-content: center;
}

.carousel-item.active{
display: flex;
justify-content: center;
align-items: center;
}
.carousel-item-start{
display: flex;
justify-content: center;
align-items: center;
}
.carousel-item-end{
display: flex;
justify-content: center;
align-items: center;
}

.carousel-control-next,
.carousel-control-prev{
filter: invert(30%);
}

.zoomable-image {
    cursor: zoom-in !important;
    transition: transform 0.3s;
  }
  
  .zoomed-image {
    cursor: zoom-out !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.8);
  }