{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Товары{% endblock %}
{% block content %}

{% block bootstrap_stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css"> 
{% endblock %}


<div class="profil_container_for_products">
        <div class="profil_item_1_products">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false">
                        
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                                <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_05_enl.jpg" class="d-block w-100" alt="">
                           </div>
                          <div class="carousel-item">
                            <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_10_enl.jpg" class="d-block w-100" alt="">
                          </div>
                          <div class="carousel-item">
                            <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_11_enl.jpg" class="d-block w-100" alt="">
                          </div>
                          <div class="carousel-item">
                                <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_13_enl.jpg" class="d-block w-100" alt="">
                          </div>
                          <div class="carousel-item">
                                <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_14_enl.jpg" class="d-block w-100" alt="">
                          </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>

                        
                        <ol class="carousel-indicators">
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active">
                                        <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_05_enl.jpg" class="d-block w-100" alt="">
                                </li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1">
                                        <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_10_enl.jpg" class="d-block w-100" alt="">
                                </li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2">
                                        <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_11_enl.jpg" class="d-block w-100" alt="">
                                </li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3">
                                        <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_13_enl.jpg" class="d-block w-100" alt="">
                                </li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4">
                                        <img src="https://ecotronic.ru/published/publicdata/ECOTRONIC/attachments/SC/products_pictures/H1-U4L-white%2Bsilver_14_enl.jpg" class="d-block w-100" alt="">
                                </li>
                                </ol>


                      </div>
</div>
        <div class="profil_item_2_products scroll">
                <p class="product-title">Пурифайер Ecotronic H1-U4L Белый</p>
                <p class="intro-description">Пурифайер напольный с ультрафильтрацией. 4-х ступенчатая система очистки. Краны подачи воды "нажим кружкой". Бак горячей воды 1,2 л., бак холодной воды 3,4 л. <b>Важно! Внешний тэн нагрева.</b> 
                </p>
                <p class="price-tag">Цена: <span id="price">price</span> RUB.</p>
                <p class="price-warning-description">Цена обновляется раз в сутки, зависит от курса доллара. Цена применяется в день Вашей покупки.</p>
                <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                        <tr class="table-success">
                                <td>Cтрана-производитель</td>
                                <td colspan="5">Китай<img width="28" height="28" src="https://img.icons8.com/stickers/100/china--v2.png" alt="china--v2"/></td>
                        </tr>        
                        <tr>
                                <td>Тип установки</td>
                                <td colspan="5">Напольный</td>
                        </tr> 
                        <tr>
                                <td>Тип охлаждения</td>
                                <td colspan="5">Компрессорный</td>
                        </tr>
                        <tr class="table-warning">
                                <td>Кружек* горячей воды (85-90 C) за раз</td>
                                <td colspan="5">6</td>
                        </tr>
                        <tr class="table-info">
                                <td>Кружек* ледяной воды (5-10 C) за раз</td>
                                <td colspan="5">10</td>
                        </tr>
                        <tr class="table-primary">
                                <td>Кружек воды комнатной температуры за раз</td>
                                <td colspan="5">Любое количество
                                        <p class="second-paragraph">После того, как бак горячей и ледяной воды кончится, пурифайер продолжит фильтровать водопроводную воду по её температуре.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>Производительность ледяной воды</td>
                                <td colspan="5">2 литра в час</td>
                        </tr>
                        <tr>
                                <td>Производительность горячей воды</td>
                                <td colspan="5">5 литров в час</td>
                        </tr>
                        <tr>
                                <td>Тип кранов</td>
                                <td colspan="5">Нажим кружкой</td>
                        </tr>
                        <tr>
                                <td>Цвет корпуса</td>
                                <td colspan="5">Бело-серебристый</td>
                        </tr>
                        <tr>
                                <td>Материал корпуса</td>
                                <td colspan="5">Прочный пластик</td>
                        </tr>
                        <tr>
                                <td>Система фильтрации</td>
                                <td colspan="5"> 
                                        <p>Ультрафильтрация: Sed+Pre+UF+Post </p>
                                                <p class="what-it-means" id="what-it-means">Что это значит? (Кликните здесь)</p>
                                                <p class="hided" id="hided">Осадочный фильтр (Sediment Filter, Sed) - Очищение воды от 90% взвешенных частиц величиной более 5 мкм с использованием фильтра грубой очистки
                                                        Ресурс 3000 л, но не более 6 месяцев.
                                                        Фильтр 2 - угольный префильтр (Carbon Pre-Filter, Pre) - Удаление хлора и органических химических веществ. Происходит удаление запаха и улучшение вкуса воды.
                                                        Ресурс 3000 л, но не более 6 месяцев.
                                                        Фильтр 3 - ультрафильтрационный фильтр (UF Membrane Filter,UF) или мембрана обратного осмоса (RO Membrane Filter).
                                                               Ультрафильтрационный фильтр удаляет бактерии, вирусы, тонкие частицы. Улучшает качество и вкус воды.
                                                        Ресурс 3000 л, но не более 6 месяцев.
        
                                                        Фильтр 4 - угольный постфильтр (Post Carbon Filter, Post) позволяет удалять запахи, привкус и органические субстанции, прошедшие сквозь мембрану обратного осмоса или мембрану ультрафильтрации.
                                                        Ресурс 3000 л, но не более 6 месяцев.</p>
                                </td>
                        </tr>
                        <tr>
                                <td>Габариты</td>
                                <td colspan="5">955x310x310 мм.</td>
                        </tr>
        
                        </tbody>
                      </table>
                      <p class="second-paragraph">*1 кружка воды равна 250 миллилитрам</p>
        </div>
        

</div>


{% endblock %}